<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/register}" method="post" th:object="${request}">
    <input  type="text"
            th:field="*{username}"
            placeholder="Username">

    <input  type="password"
            th:field="*{password}"
            placeholder="Password">

    <input  type="text"
            th:field="*{nama}"
            placeholder="Nama">

    <input  type="text"
            th:field="*{alamat}"
            placeholder="Alamat">

    <button type="submit">
        Register
    </button>
</form>

</body>
</html>